.project {
  width: 100%;
  display: flex;
  padding: 2em;
  margin: 2rem auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
}

.project-image-container {
  width: 50%;
  margin: auto 1rem auto 0;
}

.project img {
  max-width: 100%;
  max-height: 240px;
  box-shadow: var(--shadow);
}

.project-text-container {
  width: 50%;
  margin: auto 0 auto 1rem;
}

.project h3 {
  color: var(--clr-primary);
}

.project:hover {
  transform: translateY(-7px);
}

.project__description {
  margin-top: 1em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.2rem 0.4rem;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
  background-color: var(--clr-primary-alt);
  border-radius: 0.7rem;
  padding: 0.5rem;
}

.project .link--icon {
  margin: 0 0.5rem;
}
