.skills__list {
  /* max-width: 450px; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 9em;
  height: 9em;
  border-radius: 1rem;
}

.skills__list-item {
  margin: 1em;
}

.skills__list-item i {
  font-size: 3rem;
}