.contact {
  flex-direction: column;
}

.contact a {
  justify-content: center;
}

.contact .btn {
  font-size: 1rem;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
}

.contact .btn svg {
  margin-right: 0.3rem;
}